* {
    margin:0 auto;
}
.notfound {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font: oblique small-caps 900 xx-large "Fira Mono" monospace;
}